@{
	ViewData["title"]="Client/form";
	Layout = "_layout" ;
}

<h1 style="text-align:center";>Client/form</h1>

@using (Html.BeginForm("Save","Client")){
	<h4>id</h4>@Html.TextBox("Id")<br/>
	<h4>nom</h4>@Html.TextBox("Nom")<br/>
	<h4>prenom</h4>@Html.TextBox("Prenom")<br/>
	<h4>ville</h4>@Html.TextBox("Ville")<br/>
	<br/>

	<input type="submit" value="envoyer" />
}