@{
	ViewData["title"]="Client/form";
	Layout = "_layout" ;
}

<h1 style="text-align:center";>Client/form</h1>


ID: @Html.TextBox("Id")<br/>
nom: @Html.TextBox("Nom")<br/>
prenom: @Html.TextBox("Prenom")<br/>
Ville: @Html.TextBox("Ville")<br/>
<input type="submit" value="envoyer" />